.segmented-button-bar .button {
    -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.4em 1.833333em 0.4em 1.833333em;
    -fx-margin: 0.4em;
}

.segmented-button-bar .button.first-toolbar-button {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.segmented-button-bar .button.last-toolbar-button {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}

.segmented-button-bar .button:pressed {
    -fx-background-color:
        -darkest-black,
        rgb(55, 57, 58),
        linear-gradient(to top, -light-black 2%, -dark-black 98%);
}

.heading-label {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

#background {
    -light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: gray;
}

#toolbar {
   -fx-base: -dark-black;
       -fx-font-size: 12pt;
       -fx-background-color:
           linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
           linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
       -fx-background-insets: 0, 0 0 1 0;
       -fx-padding: .9em 0.416667em .9em 0.416667em;
       -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
       -fx-spacing: 10px;
       -fx-opacity:50%;

}